@model AspNetDemo.Web.Models.Company
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>New Company</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <h2>New Company</h2>
    <form asp-controller="companies" asp-action="create">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" />
        <span asp-validation-for="CompanyName"></span>

        <label asp-for="City"></label>
        <input asp-for="City" />
        <span asp-validation-for="City"></span>

        <input type="submit" value="Create" />
    </form>
    <div asp-validation-summary="All"></div>
    <a asp-controller="companies" asp-action="index">Back to companies</a>
</body>
</html>