@model IndexVM
@{
    ViewBag.Title = "Companies";
}
<h2>Companies</h2>
    Count: <strong>@Model.CompanyItems.Length</strong>
<ol>
    @foreach (var item in Model.CompanyItems)
    {
        <li>@item.CompanyName</li>
    }
</ol>
<a asp-controller="companies" asp-action="create">Add Company</a>